$primary-color: rgb(74, 190, 92);

$page-margin: 10vw;

$max-mobile-viewport-width: 800px;

$nav-height-desktop: 85px;
$nav-height-mobile: 80px;

$pitch-and-signup-width-desktop: 385px;
$pitch-and-signup-width-mobile: 300px;

$action-button-border-radius: 3px;

$action-button-font-size-desktop: 19px;
$action-button-font-size-mobile: 17px;

$action-button-size-desktop: 47px;
$action-button-size-mobile: 47px;

html {
  font-family: Raleway;
}
